:root {
	--Gallery-Fade-Speed:420ms;
}

.gallery.fade-out {
	opacity:0;
}

.gallery,
.gallery.fade-out {
	transition:opacity var(--Gallery-Fade-Speed) ease-in-out
}


/*---- non-essential stuff down here ----*/
body {
	margin:5vh auto;
	text-align:center;
	width:600px;
	background:#424752;
	color:#BCADA9;
	overflow-y:scroll;
}

@media(max-width:600px){
	body {
		margin:20px auto;
		width:calc(100% - (20px * 2));
	}
}



.filters {
	margin-bottom:20px;
	display:grid;
	grid-template-columns:repeat(5, 1fr);
	grid-gap:7px;
}

.filters button {
	display:block;
	padding:0.8rem 1rem;
	background:#575B65;
	font-family:"Golos Text";
	letter-spacing:0.5px;
	font-size:0.85rem;
	border-radius:5px;
	border:1px solid rgba(250,206,187,0.15);
	color:#FACEBB;
	line-height:100%;
	outline:none;
	cursor:pointer;
	width:auto;
	height:auto;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.filters button:hover {
	background:#515661;
}

.filters button.btn-active {
	background:#3C414D;
	border-color:rgba(250,206,187,0.25)
}

.gallery {
	display:grid;
	grid-gap:12px;
	grid-template-columns:repeat(3, 1fr);
	align-items:stretch;
}

.gallery img {
	vertical-align:middle;
	max-width:100%;
	object-fit:cover;
	object-position:center;
	border-radius:4px;
	opacity:0.9;
}